body {
  font-family: 'Roboto', sans-serif;
}

/* typo */

h1 {
  font-size: 60px;
  color: white;
}

P {
  font-size: 25px;
}
/* intestazione */



.logo_header {
  width: 150px;
  display: inline-block;
  margin-top: 20px
}
.logo_header img {
  max-width: 100%;
}
.first__nav {
  display: inline-block;
  text-align: center;
  width: 100%

}

.first__nav li  {
  padding: 0 2%;
}

.first__nav li a, .secondary__nav li a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  line-height: 70px;
}


.secondary__nav {
  text-align: right;
  display: inline-block;
}


#sign_btn {
  border: 1px solid blue;
  padding: 10px 20px;
  border-radius: 5px;
  color: blue;
}

#sign_btn:hover {
  background-color: blue;
  color: #fff;
}

.menu_mobile {
  display: inline-block;
  line-height: 100%;
}

#btn_mobile {
  background-color: transparent;
  border: none;
  color: blue;
  font-size: 20px;
}
/* /intestazione */

/* hero  */

.hero {
  background-color: #0069ff;
  background-image: url('../img/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
  background-size: contain;
  padding-bottom: 50px;
}

.hero_titles {
  margin-top: 50px;
  padding: 0 2%;
}

.hero_titles p {
  color: #BBCDFF;
}



.get_started {
  margin-top: 50px;
  background-color: white;
  text-align: center;
  padding: 30px 2%;
  border-radius: 5px;
}

input {
  display: block;
  width: 100%;
  margin: 10px 0;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px 5px;
}

#create_btn {
  width: 100%;
  background-color: #579AFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 0;
  margin-bottom: 10px;
}

#google_btn {
  width: 100%;
  background-color: transparent;
  background-image: url('../img/google-icon.png');
  background-position: left;
  background-size: 20px;
  background-repeat: no-repeat;
  padding: 7px 0;
  padding-left: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px rgba(0,0,0,0.2);
  font-weight: 500;
}
/* /hero  */


/* corpo del testo */

#section_brand {
  background-color: #F3F5F9;
}
.section_title {
  text-align: center;
  padding-top: 50px;
}

.section_title h3 {
  color: #6F7B97;
  text-transform: uppercase;
  font-size: 15px;
}
.brands {
  font-size: 0;
  vertical-align: middle;
}
.logo_customer {
  width:calc(100% / 6 );
  display: inline-block;
  padding: 0 1%;
}

.logo_customer img {
  width: 100%;
}

.customers_stories {
  text-align: center;
}

.customers_stories p {
  font-size: 15px;
}

/* seconda sezione */

.section_title h2 {
  color: #000;
}

.section_title p {
  color: #5C6A88;
}

.section_list {
  margin-top: 50px;
}
.section_list ul {
  list-style: none;
  border-left: 1px solid grey;
  padding-left: 7px;
}
.section_list li {
  padding: 10px 0;
}

.section_list li a {
  color: #5C6A88;
  text-decoration: none;
  font-size: 18px;
}
/* responsive */

@media screen and (max-width: 768px) {
  .logo_customer {
    width: 50%;
  }
}
