body {
  font-family: 'Roboto', sans-serif;
}

/* typo */

h1 {
  font-size: 60px;
  color: white;
}

h4 {
  color: #031C4E;
  font-size: 18px;
}
P {
  font-size: 25px;
}

a {
  text-decoration: none;
}

.section_grey {
  background-color:#F3F5F9;
}

.fa-chevron-left {
  color: #6F7B97;
}
/* intestazione */

#nav__bar_white {
  background-color: white;
}
.logo_header {
  width: 150px;
  display: inline-block;
  margin-top: 20px
}
.logo_header img {
  max-width: 100%;
}
.first__nav {
  display: inline-block;
  text-align: center;
  width: 100%

}

.first__nav li  {
  padding: 0 2%;
}

.first__nav li a, .secondary__nav li a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  line-height: 70px;
}


.secondary__nav {
  text-align: right;
}


#sign_btn {
  border: 1px solid blue;
  padding: 10px 20px;
  border-radius: 5px;
  color: blue;
}

#sign_btn:hover {
  background-color: blue;
  color: #fff;
}

.menu_mobile {
  padding: 20px 0;
}


#btn_mobile {
  background-color: transparent;
  border: none;
  color: blue;
  font-size: 20px;
}

/* hero  */

.hero {
  background-color: #0069ff;
  background-image: url('../img/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
  background-size: contain;
  padding-bottom: 50px;
  margin-top: 75px;
}

.hero_titles {
  margin-top: 50px;
  padding: 0 2%;
}

.hero_titles p {
  color: #BBCDFF;
}

/* /intestazione */


.get_started {
  margin-top: 50px;
  background-color: white;
  text-align: center;
  padding: 30px 3%;
  border-radius: 5px;
}

.get_started a {
  text-decoration: none;
}
input {
  display: block;
  width: 100%;
  margin: 10px 0;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px 5px;
}

#create_btn {
  width: 100%;
  background-color: #579AFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 0;
  margin-bottom: 10px;
}

#google_btn {
  width: 100%;
  background-color: transparent;
  background-image: url('../img/google-icon.png');
  background-position: left;
  background-size: 20px;
  background-repeat: no-repeat;
  padding: 7px 0;
  padding-left: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px rgba(0,0,0,0.2);
  font-weight: 500;
}
/* /hero  */


/* corpo del testo */


.section_title {
  text-align: center;
  padding-top: 50px;
}

.section_title h3 {
  color: #6F7B97;
  text-transform: uppercase;
  font-size: 15px;
}
.brands {
  font-size: 0;
  vertical-align: middle;
}
.logo_customer {
  width:calc(100% / 6 );
  display: inline-block;
  padding: 0 1%;
}

.logo_customer img {
  width: 100%;
}

.customers_stories {
  text-align: center;
}

.customers_stories p {
  font-size: 15px;
}

.customers_stories a {
  text-decoration: none;
}

/* seconda sezione */

.section_title h2 {
  color: #000;
}

.section_title p {
  color: #5C6A88;
}

.section_list {
  margin-top: 50px;
}
.section_list ul {
  list-style: none;
  border-left: 1px solid grey;
  padding-left: 7px;
}
.section_list li {
  padding: 10px 0;
}

.section_list li a {
  color: #5C6A88;
  text-decoration: none;
  font-size: 18px;
}

.box {
  width: 100%;
  padding-top: 40px;
  padding-left: 10px;
}
.box img {
  margin-bottom: 20px;
  margin-top: 10px;
}
.box p {
  font-size: 16px;
  color: #66728E;
  font-weight: 400;
}
/* /seconda sezione */

/* sezione primo carousel */



.carousel_container {
  max-width: 900px;
  margin: 30px auto;
  text-align: center;
  vertical-align: middle;
}

.carousel_container img {
  width: 80%;
  margin: 20px 0;
}

.carousel_container span {
  display: inline-block;
  margin: 0 20px;
  font-size: 30px;
  font-weight: 600;

}

.carousel_container a {
  color:#000;
}

.carousel_container p {
  font-size: 18px;
  color:#000;
  font-weight: 500;
}

.bullet_container {
  max-width: 900px;
  margin: 10px auto;
  text-align: center;
  padding: 25px 0;
}

.spot_full {
  background-color: #006AFF;
}

.bullet_spot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #006AFF;
  display:inline-block;
  margin-bottom: 10px;
}

/* responsive */

.box a {
  text-decoration: none;
  font-weight: 500;
}


.box span  {
  padding-top: 3px;
  padding-left: 5px;
}

/* section world */

#world {
  background-image: url('../img/bg-map.svg');
  background-color:#031b4e;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;

}

.row_table {
  border-bottom: 1px solid #fff;
  padding-top: 15px;
  padding-left: 3%;
  padding-right: 3%;
}

.city_code P,
.city_name p,
.test_speed p {
  font-size: 13px;
}

.city_code p {
  text-transform: uppercase;
  color: #fff;
}

.city_name p {
  color:#98A2B7;
}
.test_speed {
  text-align: right;
}

.test_speed a:hover {
  color:#0F566F;
}
.test_speed a {
  text-decoration: none;
  color: #00d7d2;
}
/* /section world */





/* secondo carousel */


.carousel_text {
  width: 70%;
  height: 100%;
  display: inline-block;
  background-color: #fff;
  vertical-align: middle;
  text-align: center;
  padding: 0 3%;
}
.carousel_text img {
  max-width: 45%;
  padding-top: 60px;
}

.carousel_text p:first-of-type  {
  font-size: 20px;
  color: #5C6A88;
  margin: 10px 0;
}
.carousel_text p {
  font-size: 16px;
  margin: 0;
}

.carousel_text p:last-of-type {
  color: #031C4E;
  font-size: 15px;
}

.carousel_text div {
  margin: 30px 0;
  color: #006AFF;
}

.carousel_text  a {
  text-decoration: none;
  color: #006AFF;
}
.carousel_text .link_arrow {
  font-size: 15px;
  color: #006AFF;
}
/* /secondo carousel */






@media screen and (max-width: 768px) {
  .logo_customer {
    width: 50%;
  }
  .box {
    padding-right: 15%;
  }
  .carousel_container span {
    display: none;
  }

  .row_table:last-child {
    margin-bottom: 40px;
  }
}
